@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #1754cf;
    --color-background-light: #ffffff;
    --color-background-dark: #111621;
    --color-card-dark: #1c2537;
    --color-accent-success: #0bda5e;
    --color-accent-error: #fa6238;
    --color-accent-warning: #f59e0b;

    --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.fill-1 {
    font-variation-settings: 'FILL' 1;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
    padding-top: env(safe-area-inset-top);
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #344465;
    border-radius: 10px;
}